.App {
  text-align: center;
  font-family: "Roboto Mono", monospace, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #21212a;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.font-orange {
  color: #fea04f;
  font-size: larger;
}

blockquote p {
  font-size: 2.4rem !important;
}

.blockquote-footer {
  font-size: 1.8rem !important;
}

.nav-link {
  font-size: 1.3em !important;
}

.nav-link:hover {
  border-bottom: #fea04f 1px solid;
}

.btn {
  font-size: 1.3em !important;
}

button {
	 border: none;
	 padding: 1em;
	 outline: none;
	 color: white;
	 text-transform: uppercase;
	 font-weight: 900;
	 font-style: 1.2em;
	 letter-spacing: 0.2em;
	 position: relative;
	 z-index: 1;
	 cursor: pointer;
	 background: none;
	 text-shadow: 3px 3px 10px rgba(0, 0, 0, .45);
}
 button:before, button:after {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 border-radius: 10em;
	 transform: translateX(-50%) translateY(-50%);
	 width: 105%;
	 height: 105%;
	 content: '';
	 z-index: -2;
	 background-size: 400% 400%;
	 background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}
 button:before {
	 filter: blur(7px);
	 transition: all 0.25s ease;
	 animation: pulse 10s infinite ease;
}
 button:after {
	 filter: blur(0.3px);
}
 button:hover:before {
	 width: 115%;
	 height: 115%;
}
 
