.App {
  text-align: center;
  font-family: "Roboto Mono", monospace, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #21212a;
}

.font-orange {
  color: #fea04f;
  font-size: 1.5rem;
}

nav {
  font-size: 1.3rem;
}
.navbar-collapse{
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
}

blockquote p {
  font-size: 2.4rem !important;
}

.blockquote-footer {
  font-size: 1.8rem !important;
}

.nav-link {
  font-size: 1.3em !important;
  transition-property: all;
  transition: 0.2s ease-in;
}

.nav-link:hover {
  border-bottom: #fea04f 2px solid;
}

.btn {
  font-size: 1.3em !important;
}

button {
  border: none;
  padding: 0.6em;
  outline: none;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}
button:before,
button:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10em;
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 30%,
    #2bd2ff 52%,
    #2bff88 90%
  );

  /* background: linear-gradient(
    60deg,
    #fea04f,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  ); */
}
button:before {
  filter: blur(7px);
  transition: all 0.25s ease;
  animation: pulse 10s infinite ease;
}
button:after {
  filter: blur(0.3px);
}
button:hover:before {
  width: 115%;
  height: 115%;
}

@media screen and (max-width: 812px) {
  blockquote p {
    font-size: 1.5rem !important;
  }
  .font-orange {
    font-size: 1.2rem;
  }
  .blockquote-footer {
    font-size: 1.2rem !important;
  }
}

/* iPhoneX */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  blockquote p {
    font-size: 1.5rem !important;
  }
  .font-orange {
    font-size: 1.2rem;
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  blockquote p {
    font-size: 1.5rem !important;
  }
  .font-orange {
    font-size: 1.2rem;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  blockquote p {
    font-size: 1.5rem !important;
  }
  .font-orange {
    font-size: 1.2rem;
  }
}
